body {
    background-color: black;
    color: aliceblue;
}
.main {
    display: flex;
}
.main div{
    flex: auto;
    
}
.header1 {
    font-size: 36pt;
    font-weight: bolder;
    text-align: center;
}
.Links {
    font-size: 20pt;
}
a {
    color: khaki;
    text-decoration: none;
}
a:visited {
    color: skyblue;
}
a:hover{
    color: darkslategray;
    text-decoration: wavy;
}
a:active {
    color: yellowgreen;
}