body{
    background-color: #222831 ;
    color: #ECDFCC;
}
.main{
   /* display: flex;*/
}
.header1{
    font-size: 28pt;
    font-weight: bolder;
    text-align: center;
}
.list div{
    font-size: 20pt;
    font-weight: bolder;
}
img {
   max-width: 100%;
  height: auto;
  align-content: center;
margin-top: 20px;   
      margin-right: 10px; 
      margin-bottom: 15px;
      margin-left: 5px; 
}
a {
    color: khaki;
    text-decoration: none;
}
a:visited {
    color: skyblue;
}
a:hover{
    color: darkslategray;
    text-decoration: wavy;
}
a:active {
    color: yellowgreen;
}
.main div{
    flex: 1;
}
.link1 {
    font-size: 22pt;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;   
      margin-right: 10px;  
      margin-bottom: 30px; 
      margin-left: 5px; 
}
.main h2{
    text-align: center;
}
p {
    font-size: 15pt;
    font: bold;
}