body{
    background-color: black;
    color: aliceblue;
}
.main{
   /* display: flex;*/
}
.header1{
    font-size: 28pt;
    font-weight: bolder;
    text-align: center;
}
.list div{
    font-size: 20pt;
    font-weight: bolder;
}
img {
   max-width: 100%;
  height: auto;
  align-content: center;

}
a {
    color: khaki;
    text-decoration: none;
}
a:visited {
    color: skyblue;
}
a:hover{
    color: darkslategray;
    text-decoration: wavy;
}
a:active {
    color: yellowgreen;
}
.main div{
    flex: 1;
}